{% load i18n %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Task Manager" %}</title>
    
    {% bootstrap_css %}
</head>

<body class="d-flex flex-column h-100 bg-light">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 shadow-sm">
        <div class="container-fluid container-lg">
            <a class="navbar-brand" href="{% url 'home' %}">{% translate "Task Manager" %}</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:index' %}">{% translate "Users" %}</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link text-decoration-none">{% translate "Выход" %}</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">{% translate "Вход" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:create' %}">{% translate "Регистрация" %}</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:index' %}">{% translate "Users" %}</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'statuses:index' %}">{% translate "Статусы" %}</a>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tasks:index' %}">Задачи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'labels:index' %}">Метки</a>
                            </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container wrapper flex-grow-1">
        
        {% bootstrap_messages %}
        
        {% block content %}
        {% endblock %}
        
    </main>

    {% bootstrap_javascript %}
</body>
</html>